.bmc_box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.flip_card {
    width: 420px;
    height: 90vh;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 20px;
   
}

.card__face_front {
    background-image: url(../public/img/ecard/BMC-BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;

    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    overflow: hidden !important;
}

.card__face_back {
    background-image: url(../public/img/ecard/BMC-BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    padding: 10px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    position: relative;
    z-index: 999999;
}

.card.active {
    transform: rotateY(180deg);
}
.card.active .business_card_footer_back{
    display: none;
    transition: 1s ease-in-out;
}


.card_header {
    background: linear-gradient(189deg, #a6ecc0 22%, #9fe2ba 65.8%, rgba(255, 255, 255, 0) 34.8%);
    height: 30%;
    width: 100%;
    text-align: center;
    padding-top: 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: relative;
}

.card_header p {
    font-size: 20px;
    color: #000;
    font-family: semibold;
}

.company_logo {
    width: 130px;
    height: 130px;
    margin: 3.8rem auto 0;
    background: linear-gradient(4deg, #9fe2ba 56.8%, transparent 34.8%);
    padding: 8px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.company_logo img {
    max-width: 100%;
    border-radius: 50%;
}

.company_about {
    text-align: center;
    padding: 0 4rem 0 4rem;
    height: 19.5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.company_name h1 {
    font-size: 22px;
    font-family: boldfont;
}


.detail_box {
    background-color: #def6e5;
    border-top: 1px solid #cccccc;
    width: 100%;
    height: 14%;
    position: relative;
}

.social_link {
    width: 100%;
    padding: 0 1rem;
    margin-top: 2rem;
}



.social_link ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
}



.social_link_box ul li {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0baa4d;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    margin: 10px 0;
}


.social_link ul li:first-child svg {
    width: 20px;
    height: 20px;
}

.social_link ul li svg {
    width: 25px;
    height: 25px;
}


.detail_box_days {
    background-color: #def6e5;
    border-top: 1px solid #cccccc;
    width: 100%;
    height: 13%;
    position: relative;
}

.businessBtn {
    position: absolute;
    width: 140px;
    height: 35px;
    background-color: #def6e5;
    border: 1px solid #cccccc;
    border-radius: 6px;
    top: -1.2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: boldfont;
}

.business_day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.business_day ul {
    display: flex;
    list-style-type: none;
    padding: 0 10px;
    margin: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.business_day ul li {
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0baa4d;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 6px;
    margin: 15px 0;
    transform: rotate(-90deg);
}

.business_day ul li p {
    color: var(--dark);
    font-size: 12px;
    text-transform: uppercase;
    font-family: boldfont;
    margin: 0;
}


.detail_text_effect {
    position: absolute;
    width: 140px;
    height: 35px;
    background: linear-gradient(#24d264, #0baa4d);
    top: -1.2rem;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: boldfont;
}

.detail_text_effect_shadow {
    position: absolute;
    width: 140px;
    height: 35px;
    top: 6px;
    left: 50%;
    transform: translate(-50%);
}

.detail_text_effect_shadow img {
    max-width: 100%;
}

.enquiry_box {
    background: transparent;
    padding: 1.5rem 2rem;
    height: 19%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enquiry_box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.enquiry_box ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.enquiry_box ul li:last-child {
    margin: 0;
}

.enquiry_box ul li div {
    color: #000;
    font-size: 14px;
}

.enquiry_box ul li div svg {
    color: #000;
    text-align: center;
    margin-right: 10px;
    font-size: 16px;
}

.enquiry_box ul li div button {
    width: 110px;
    padding: 5px;
    background-color: #ffffff;
    border: none;
    outline: none;
    border-radius: 6px;
    font-family: semibold;
    color: #141414;
    font-size: 12px;
}

.enquiry_box_content {
    display: flex;
}

.business_card_footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    width: 100%;
    height: 6%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

.business_card_footer_button {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #cccccc;
    padding: 10px 5px;
}

.business_card_footer_button:last-child {
    border: none;
}

.card_video_logo {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.share_card_content h2 {
    font-size: 16px;
    text-align: center;
    color: var(--primary);
    font-family: semibold;
}

.share_media {
    margin-top: 2rem;
}

.share_media ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.share_media ul li {
    width: 100px;
    margin-bottom: 1rem;
}

.share_media ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: medium-font;
    font-size: 14px;
}

.share_media ul li a .icon_name {
    margin-top: 15px;
    font-family: regular;
    font-size: 12px;
}

.card_back_logo {
    width: 250px;
    height: 250px;
    background-color: #a5e5b7;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}



.video_box video {
    width: 100%;
    height: 230px;
    z-index: 999999;
    background: black
}

.card_back_logo_outline {
    padding: 10px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}


.clickButton {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 10px;
    padding: 5px;
    transform: translate(0, -50%);
    background: #1414143d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.clickButton svg {
    color: #fff;
}

.backCard_name{
    text-align: center;
    padding-top: 3rem;
}
.backCard_name p{
    font-size: 20px;
    color: #000;
    font-family: semibold;
}
.video_title{
    margin: 1rem;
}
.video_title h2{
    font-size: 20px;
    color: #000;
    font-family: semibold;
}
.userProfileBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
}
.userProfile{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid var(--primary)
}
.userProfile img{
    border-radius: 50%;
}

.userName h2{
font-size: 20px;
font-family: boldfont;
margin: 10px 0 0 0;

}

.userTitle p{
    font-style: italic;
    font-size: 14px;
    font-family: semibold;
}

.profileButton button{
    background-color: var(--primary);
    outline: none;
    border: none;
    color: var(--white);
    padding: 5px 20px;
    border-radius: 6px;
    font-size: 14px;
}

.backFooter{
    position: absolute;
    bottom: 0;
    width: 95.2%;
}

.contactTitle h2{
    font-family: semibold;
    text-align: center;
    font-size: 20px;
}

.contactTitle h2 span{
    font-family: extrabold;
    color: var(--primary);
}
.contactTitle{
    margin: 3rem 0;
}

.disable{
    opacity: 0.3;
    cursor: not-allowed;
}

@media (min-width: 319.98px) and (max-width: 379.98px) {
    
    .flip_card{
        height: 99vh;
    }

    .company_logo {
        width: 110px;
        height: 110px;
        top: 40%;
    }

    .company_about {
        padding: 1.8rem 2rem;
    }

    .company_name h1 {
        font-size: 16px;
    }

    .company_description p {
        font-size: 12px;
    }

    .card_holder_name svg {
        font-size: 13px;
    }

    .company_description {
        margin-top: 10px;
    }
    .business_day ul{
        padding: 0;
    }
    .business_day ul li{
        margin: 0 -3px 0 0;
    }

    .social_link ul li {
        width: 33px;
        height: 33px;
        font-size: 11px !important;
    }

    .social_link p {
        margin: 0;
    }

    .social_link ul li svg {
        font-size: 16px;
    }

    .enquiry_box {
        padding: 10px;
    }

    .enquiry_box ul li div a button {
        width: 94px;
        padding: 5px 0;
        font-size: 12px;
    }

    .enquiry_box ul li .enquiry_box_content {
        font-size: 12px;
    }

    .business_card_footer-button img {
        max-width: 80%;
    }

    .detail_box_days{
        height: 14%;
    }
    .detail_box{
        height: 14.5%;
    }
    .company_about{
        height: 17%;
    }

    .video_title h2{
        font-size: 18px !important;
    }
    .userName h2{
        font-size: 18px !important;
    }
}


@media (min-width: 380px) and (max-width: 424.98px) {
    .flip_card{
        height: 99vh;
    }

    .company_logo {
        width: 110px;
        height: 110px;
        top: 40%;
    }

    .company_about {
        padding: 1.8rem 2rem;
    }

    .company_name h1 {
        font-size: 16px;
    }

    .company_description p {
        font-size: 12px;
    }

    .card_holder_name svg {
        font-size: 13px;
    }

    .company_description {
        margin-top: 10px;
    }
    .business_day ul{
        padding: 0;
    }
    .business_day ul li{
        margin: 0 -3px 0 0;
    }

    .social_link ul li {
        width: 33px;
        height: 33px;
        font-size: 11px !important;
    }

    .social_link p {
        margin: 0;
    }

    .social_link ul li svg {
        font-size: 16px;
    }

    .enquiry_box {
        padding: 10px;
    }

    .enquiry_box ul li div a button {
        width: 94px;
        padding: 5px 0;
        font-size: 12px;
    }

    .enquiry_box ul li .enquiry_box_content {
        font-size: 12px;
    }

    .business_card_footer-button img {
        max-width: 80%;
    }

    .detail_box_days{
        height: 14%;
    }
    .detail_box{
        height: 14.5%;
    }
    .company_about{
        height: 17%;
    }
    .video_title h2{
        font-size: 18px !important;
    }
    .userName h2{
        font-size: 18px !important;
    }
}

@media (min-width: 425px) and (max-width: 575.98px) {
    .flip_card{
        height: 99vh;
    }

    .company_logo {
        width: 110px;
        height: 110px;
        top: 40%;
    }

    .company_about {
        padding: 1.8rem 2rem;
    }

    .company_name h1 {
        font-size: 16px;
    }

    .company_description p {
        font-size: 12px;
    }

    .card_holder_name svg {
        font-size: 13px;
    }

    .company_description {
        margin-top: 10px;
    }
    .business_day ul{
        padding: 0;
    }
    .business_day ul li{
        margin: 0 -3px 0 0;
    }

    .social_link ul li {
        width: 33px;
        height: 33px;
        font-size: 11px !important;
    }

    .social_link p {
        margin: 0;
    }

    .social_link ul li svg {
        font-size: 16px;
    }

    .enquiry_box {
        padding: 10px;
    }

    .enquiry_box ul li div a button {
        width: 94px;
        padding: 5px 0;
        font-size: 12px;
    }

    .enquiry_box ul li .enquiry_box_content {
        font-size: 12px;
    }

    .business_card_footer-button img {
        max-width: 80%;
    }

    .detail_box_days{
        height: 14%;
    }
    .detail_box{
        height: 14.5%;
    }
    .company_about{
        height: 17%;
    }
    .video_title h2{
        font-size: 18px !important;
    }
    .userName h2{
        font-size: 18px !important;
    }
}