

.bmc_box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: black;
}

.flip_card {
    width: 420px;
    height: 90vh;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
    
}
.card.active {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
   
}
.cardFrontContent{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.card__face_front {
    /* background-image: linear-gradient(to top, #6910AF , #871EDA); */
    /* background-image: url(../public/img/ecard/bg1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    overflow: hidden !important;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card__face_back {
    background-image: linear-gradient(to top, #6910AF , #871EDA);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    border-radius: 30px;
    position: relative;
    z-index: 999999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.clickButton {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    padding: 5px;
    transform: translate(0, -50%);
    background: #1414143d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.clickButton svg {
    color: #fff;
    font-size: 28px;
}

.cardName{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 7%;
    color: var(--white);
    font-size: 14px;
    font-family: nunitoMedium;
}

.forntProfileBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    height: 33%;
}
.companyLogo{
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 6px solid var(--white);
}
.companyLogo img{
    border-radius: 50%;
}

.companyName h1{
    font-size: 22px;
    color: var(--white);
    font-family: nunitoSemibold;
    margin: 1rem 0 3px 0;
}
.designationName span{
    font-family: nunitoMedium;
    color: var(--white);
    font-size: 14px;
    width: max-content;
    padding: 5px 12px;
    border-bottom: 1px solid var(--white);
}

.descriptionBox{
    text-align: center;
    padding: 1rem;
}
.descriptionBox p{
    margin: 0;
    font-family: nunitoRegular;
    font-size: 14px;
    color: var(--white);
}

.catalogBox{
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
}
.catalogTitle {
    border-top: 1px solid var(--white);
    margin: 1rem 0;
    position: relative;
}
.catalogTitle div{
    width: max-content;
    background-color: black;
    color: var(--white);
    font-family: nunitoRegular;
    padding: 5px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    border: 1px solid var(--white);
    margin: -1rem auto;
}


.catalogImg{
    width: 180px;
    height: auto;
    border-radius: 20px;
}

.bottomButtonBox{
    padding: 1.5rem;
    /* border: 1px solid red; */
    height: 10%;
    display: flex;
    align-items: center;
}
.bottomButtonBox ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}
.iconBox{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconBox img{
    max-width: 25px;
}

/* ============responsive css==============
============================== */

@media (min-width: 319.98px) and (max-width: 379.98px) {
    .flip_card{
        width: 345px;
    }
    .companyLogo{
        width: 90px;
        height: 90px;
    }
    .companyName h1{
        font-size: 20px;
        margin: 10px 0 3px 0;
    }
    .descriptionBox p{
        font-size: 12px;
        margin-top: 10px;
    }
    .descriptionBox{
        padding: 0 1rem;
    }
    .catalogImg{
        width: 150px;
        margin: 0 auto;
    }
    .iconBox{
        width: 45px;
        height: 45px;
    }
    .iconBox img{
        max-width: 20px;
    }
    .catalogBox{
        height: 48%;
    }
    .bottomButtonBox{
        height: 9%;
    }
}

@media (min-width: 380px) and (max-width: 424.98px) {
    .flip_card{
        width: 95%;
    }
    .companyLogo{
        width: 90px;
        height: 90px;
    }
    .companyName h1{
        font-size: 20px;
        margin: 10px 0 3px 0;
    }
    .descriptionBox p{
        font-size: 12px;
        margin-top: 10px;
    }
    .descriptionBox{
        padding: 0 1rem;
    }
    .catalogImg{
        width: 150px;
        margin: 0 auto;
    }
    .iconBox{
        width: 45px;
        height: 45px;
    }
    .iconBox img{
        max-width: 20px;
    }
    .catalogBox{
        height: 48%;
    }
    .bottomButtonBox{
        height: 9%;
    }
}