
.bmc_box {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 0 auto;
    background-color: white;
}

.flip_card {
    width: 420px;
    height: 95vh;
    perspective: 600px;
    overflow: hidden;
}

.card {
    width: 100%;
    height: 100%;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;

}

.card.active {
    transform: rotateY(-180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.cardFrontContent {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 5px solid #ffffff2b;
    border-radius: 30px;
}

.card__face_front {
    /* background-image: linear-gradient(to top, #6910AF , #871EDA); */
    /* background-image: url(../public/img/ecard/bg1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
    overflow: hidden !important;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    /* box-shadow: inset 0 0 5px white; */
}

.card__face_back {
    /* background-image: linear-gradient(to top, #6910AF, #871EDA); */
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    border-radius: 30px;
    position: relative;
    z-index: 999999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.clickButton {
    cursor: pointer;
    position: fixed;
    top: 50%;
    right: 0;
    padding: 5px;
    transform: translate(0, -50%);
    background: #1414143d;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.clickButton svg {
    color: #fff;
    font-size: 28px;
}

.cardName {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    height: 7%;
    color: var(--white);
    font-size: 14px;
    font-family: nunitoMedium;
    position: relative;
}

.forntProfileBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 100%;
    height: 33%;
}

.companyLogo {
    width: 113px;
    height: 113px;
    border-radius: 50%;
    border: 6px solid var(--white);
}

.companyLogo img {
    border-radius: 50%;
}

.companyName h1 {
    font-size: 22px;
    color: var(--white);
    font-family: nunitoSemibold;
    margin: 1rem 0 3px 0;
}

.designationName span {
    font-family: nunitoMedium;
    color: var(--white);
    font-size: 14px;
    width: max-content;
    padding: 10px 12px;
    border-bottom: 1px solid var(--white);
}

.descriptionBox {
    text-align: center;
    padding: 1rem;
}

.descriptionBox p {
    margin: 0;
    font-family: nunitoRegular;
    font-size: 14px;
    color: var(--white);
    word-break: break-all;
    overflow: hidden;
    width: 100%;
    height: 56px;
}

.catalogBox {
    /* border: 1px solid red; */
    width: 100%;
    height: 50%;
}

.catalogTitle {
    border-top: 1px solid var(--white);
    margin: 1rem 0;
    position: relative;
}

.catalogTitle div {
    width: max-content;
    background-color: white;
    color: var(--dark);
    font-family: nunitoSemibold;
    font-weight: 600;
    padding: 3px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    font-size: 14px;
    margin: -14px auto;
}


.catalogImg {
    width: 180px;
    height: auto;
    border-radius: 20px;
}

.bottomButtonBox {
    padding: 1.5rem 1rem;
    /* border: 1px solid red; */
    height: 10%;
    display: flex;
    align-items: center;
    position: relative;
}

.linkIcon {
    opacity: 0;
}



.bottomButtonBox ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0;
}

.iconBox {
    width: 50px;
    height: 50px;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconBox img {
    max-width: 25px;
}

.prouctSliderBox {
    background-color: var(--white);
    border-radius: 10px;
    height: 195px;
    overflow: hidden;
}
.selectProductTitle p{
    color: var(--white);
    font-size: 14px;
    margin: 1rem 0;
}

.productName {
    padding: 5px 10px;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.productName p{
    font-size: 14px;
    margin: 0;
}

.productImg {
    height: 82%;
    overflow: hidden;
}

.productImg img {
    max-width: 100% !important;
    border-radius: 10px;
}

.cardBackContent {
    width: 100%;
    height: 100%;
    border: 5px solid #ffffff2b;
    border-radius: 30px;
}

.cardVideoBox {
    width: 100%;
    height: 33%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardDateTimeBox {
    width: 100%;
    height: 24%;
    /* border: 1px solid red; */
}

.cardAddress {
    width: 100%;
    height: 23%;
    /* border: 1px solid red; */
}

.cardVideoTitle {
    padding: 0 10px 5px;
    font-size: 12px;
    font-family: nunitoBold;
    overflow: hidden;
}

.dateTimeContent {
    background-color: var(--white);
    box-shadow: 0px 4.24197px 7.42344px rgba(0, 0, 0, 0.25), inset 0px 4.24197px 8.48394px rgba(0, 0, 0, 0.25);
    border-radius: 10.6049px;
    padding: 10px;
}

.dateTimeContent h4 {
    font-size: 14px;
    text-align: center;
    font-family: nunitoBold;
    margin-top: 10px;
}

.dateTimeContent p {
    font-size: 14px;
    margin: 0;
    font-family: nunitoBold;
}

.dateTimeContent ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    overflow: scroll;
    overflow-y: hidden;
    padding: 10px 0;
}

.dateTimeContent ul::-webkit-scrollbar:horizontal {
    height: 0px;
}


.dateTimeContent ul::-webkit-scrollbar-track:horizontal {
    background: transparent;
}


.dateTimeContent ul::-webkit-scrollbar-thumb:horizontal {
    background-color: transparent;
}



.dateTimeContent ul li p {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: nunitoExtraBold;
}

.disable p{
    opacity: 0.2;
    border-radius: 5px;
}

.productPrice p {
    color: var(--white);
    font-size: 18px;
}

.productPrice {
    margin-top: 4rem;
}
.productPrice p img{
    max-width: 14px;
}

.productDesc {
    height: 180px;
    overflow: scroll;
    overflow-x: hidden;
    color: var(--white);
    font-size: 14px;
    font-family: nunitoRegular;
}
.productDesc h4{
    font-size: 15px;
    font-family: nunitoBold;
}

/* width */
.productDesc::-webkit-scrollbar {
    width: 0px;
}

/* Track */
.productDesc::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
.productDesc::-webkit-scrollbar-thumb {
    background: transparent;
}
.productConnectBtn button{
    margin-top: 1rem;
    font-size: 14px;
    background-color: var(--white);
    border-radius: 50px;
    outline: none;
    border: none;
    padding: 8px 15px;
    font-family: nunitoBold;
}
.share_card_content h2{
    color: var(--white);
    font-size: 16px !important;
    text-align: center;
}
.share_card_content ul{
    display: flex;
    padding: 0;
    margin: 1rem 0 0 0;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}
.share_card_content ul li{
    color: var(--white);
    text-align: center;
    font-size: 10px;
    width: 30%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.share_card_content ul li div{
    margin-top: 10px;
}
.share_card_content{
    overflow: hidden;
}
.share_card_content ul li a:hover{
    color: var(--white);
}

/* ============responsive css==============
============================== */

@media (min-width: 319.98px) and (max-width: 379.98px) {
    .flip_card {
        width: 345px;
    }

    .companyLogo {
        width: 90px;
        height: 90px;
    }

    .companyName h1 {
        font-size: 20px;
        margin: 10px 0 3px 0;
    }

    .descriptionBox p {
        font-size: 12px;
        margin-top: 10px;
    }

    .descriptionBox {
        padding: 0 1rem;
    }

    .catalogImg {
        width: 150px;
        margin: 0 auto;
    }

    .iconBox {
        width: 40px;
        height: 40px;
    }

    .iconBox img {
        max-width: 20px;
    }

    .catalogBox {
        height: 45%;
    }

    .bottomButtonBox {
        height: 14%;
    }
}

@media (min-width: 380px) and (max-width: 424.98px) {
    .flip_card {
        width: 95%;
    }

    .companyLogo {
        width: 90px;
        height: 90px;
    }

    .companyName h1 {
        font-size: 20px;
        margin: 10px 0 3px 0;
    }

    .descriptionBox p {
        font-size: 12px;
        margin-top: 10px;
    }

    .descriptionBox {
        padding: 0 1rem;
    }

    .catalogImg {
        width: 150px;
        margin: 0 auto;
    }

    .iconBox {
        width: 45px;
        height: 45px;
    }

    .iconBox img {
        max-width: 20px;
    }

    .catalogBox {
        height: 45%;
    }

    .bottomButtonBox {
        height: 14%;
    }
}