.header_bg{
    width: 100%;
    height: 96px;
    background-image: url(/img/resetPassword/reset-password.png);
    position: fixed;
}
.logo{
    height: 96px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.resetPassword_bg{
    background-color: #000;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resetPassword_box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resetPassword_form{
    width: 400px;  
    height: max-content; 
}
.resetPassword_form form{
    margin-top: 2rem;
}
.resetPassword_form h2{
    text-align: center;
    color: var(--white);
    font-family: boldfont;
}
.resetPassword_form form .formGroup p{
    color: #999 !important;
    line-height: 18px;
    margin-bottom: 10px;
    font-size: 16px;
}
.resetPassword_form form .formGroup input{
    background: transparent;
    outline: none;
    border: 1px solid #999;
    color: #999;
    margin-bottom: 8px;
}
.resetPassword_form form .formGroup span{
    color: red;
}

.resetPassword_form form .formGroup{
    margin-bottom: 1.5rem;
}

.resetPassword_form form .formGroup button{
    width: 100%;
    background-color: var(--footer);
    color: var(--white);
    outline: none;
    border: none;
    padding: 7px;
    border-radius: 6px;
    font-size: 16px;
}

/* ============responsive css==============
============================== */

@media (min-width: 319.98px) and (max-width: 379.98px) {
    .resetPassword_form{
        width: 100%;   
    }   
}
@media (min-width: 380px) and (max-width: 424.98px) {
    .resetPassword_form{
        width: 100%;   
    } 
    
}
@media (min-width: 425px) and (max-width: 575.98px) {
    .resetPassword_form{
        width: 100%;   
    } 
    
}

@media (min-width: 576px) and (max-width: 768.98px) {
    
}

@media (min-width: 769px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1023.98px) {

}

@media (min-width: 1024px) and (max-width: 1200px) {

}

@media (min-width: 1200.98px) and (max-width: 1439px) {

}

@media (min-width: 1439.98px) and (max-width: 1599.98px) {
    
}